services:
  web:
    image: jekyll/jekyll:4
    command: sh -c "apk add --no-cache nodejs npm && npm install && bundle install && jekyll serve --livereload --host 0.0.0.0 --force_polling"
    ports:
      - "4000:4000"
      - "35729:35729"
    volumes:
      - .:/srv/jekyll
    environment:
      - JEKYLL_ENV=development
